Source: decklink-sdk
Section: utils
Priority: optional
Maintainer: Klee Dienes <klee.dienes@hadronindustries.com>
Build-Depends: debhelper (>= 9), autotools-dev, cmake
Standards-Version: 3.9.6
Homepage: http://www.hadronindustries.com

Package: decklink-sdk
Section: utils
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PlayStation Move mouse emulator
 This package generates synthetic USB HID tablet events driven by a
 PlayStation Move controller.  The user can specify a system
 configuration describing their screen layout, and the location of the
 mouse cursor is based on the place on the screen to which the user is
 pointing.
